@import "variables";
@import "mixin";

body{
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;;
}

img{
    width: 100%;
    vertical-align: bottom;
}


// HEARDER--------------------------------------------------
.header{
    max-width: 1920px;
    background-color: gray;
    display: flex;
    color: $white;

}